*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.navbar{
    width: 100%;
    height: 6vh;
    /* background-color: #000000; */
    color: #000;
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}
.navbar h3{
    font-size: 1.5rem;
}
.navbar .logo {
    width: 3rem;
    height: 1.9rem;
}

.nav {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 2rem;
}
.menu{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items:center;
}
.menu h1 {
    font-family: 'Avenir';
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    line-height: 20.16px;
    text-align: right;
    letter-spacing: 0.02em;
    color: #223344;
}
.menu h1,
.menu i {
    margin: 0rem 2rem 0 1rem;
}
.search {
    width: 28vw;
    height: 6vh;
    border: 1px solid grey;
    border-radius: 50px;
    background-color: #fff;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-right: 2.5rem;
}
.search input {
    outline: none;
    border: none;
    margin-left: 1rem;
}
.product {
    color: #000000;
    padding: 12px;
    width: 256;
    font-weight: 500;
    display:flex;
    background: rgba(165, 176, 194, 0.1);
    border-right: 0.5px solid #A5B0C2;
    box-shadow: 0px 20px 34px -20px rgba(165, 176, 194, 0.25);
    border-radius: 50px 0px 0px 50px;
}
.product p {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 1rem;
    line-height: 1.2rem;
    color: #323640;
}
.product .fa-angle-down {
    margin-left: 1rem;
    color: grey;
}
.search input {
    font-family: 'Avenir';
    font-style: normal;
    font-weight: 300;
    font-size: 1rem;
    line-height: 1.2rem;
    color: #6C7795;
}
.search .fa-search {
    color: black;
    padding: 10px;
    font-size: 1.2rem;
}
.language{
    display: flex;
}
.language i,
.user i {
    margin: 0rem 10px;
}
.user {
    display: flex;
}
.user i {
    margin: 0rem;
    margin-top: 1rem;
}

.oval {
    border: 0.5px solid rgba(165, 176, 194, 0.6);
    filter: drop-shadow(0px 2px 10px rgba(137, 137, 137, 0.25));
    outline: none;
    border: none;
}